{% include "header.html" %}
<p>This application is a very simple proof of concept about <a href="https://librecaptcha.mytipy.net/">Libre Captcha</a>.</p>

<p>Feel free <a href="/captcha">to test it there</a></p>

<p>An other possibility is to <a href="/recaptcha">test Libre Captcha</a> on a website that was using ReCaptchat before.</p>

{% include "footer.html" %}


