{% include "header.html" %}
    <script src="{{captcha_url}}librecaptcha.js" async defer></script>
	<p>Here is a sample form like you can build or find over the internet. In order to block spam and bots, we simply added a challenge easy for humans and hard for bots...</p>
	<form method="post" action="/captcha_result">
	    <hr />
	    <p>This part is part of the original form, feel free to play iwth it or not ;o)</p>
	    Enter some text : <input type="text" name="name" value="John" />
	    <br />
	    Check the checkbox : <input type="checkbox" name="check" />
	    <br />
	    <hr />
	    <p>This part is not part of the original form, the challenge should appear in addition to the form</p>
	    <div class="librecaptcha" data-sitekey="{{public_key}}"></div>
	    <p>And here the form can continue...
	    <hr />
        <br />
        <input type="submit" value="Submit" />
    </form>
{% include "footer.html" %}
