{% include "header.html" %}
{% if result.success %}
    <p>Hello <b>{{ result.name }}</b> ! </p>
    {% if result.check %}
        <p>So, why did you tick the box ?</p>
    {% endif %}
    <hr />
    <p>Here we display the result of the Captcha for information, but it's not necessary</p>
    <span style="background-color:#9f9;padding:.3em">Captcha validated!</span>
    <br />
{% else %}
    <hr />
    <p>Here we display the result of the Captcha for information, but you could also display a specific information or whatever...</p>
    <span style="background-color:#f99;padding:.3em">Captcha wrong!</span>
    <br />
{% endif %}
<br />
<a href="/captcha">Retry</a>
{% include "footer.html" %}
